@import 'variable';
@import 'vendors/normalize';
@import 'wrapper';

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "canvas panel"
    ;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0 12px;
    background-color: var(--body-bg);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    grid-area: header;
}

h1, h2, h3, h4 {
    color: var(--title-color);
}

input, select {
    color: black;
}

#section-canvas {
    grid-area: canvas;
    
    .canvas-container {
        border: 1px solid white;
    }
}

#panel {
    background-color: var(--panel-bg);
    padding: 12px;
    grid-area: panel;

    div {
        width: 100%;
        padding: 0 0 12px;
    }
}